footer.footer
	.wrapper
		.footer-line.footer-line--top
			ul.footer__menu
				li.submenu__list
					a.submenu__list-link(href="#") Продукция
				li.submenu__list
					a.submenu__list-link(href="#") На заказ
				li.submenu__list
					a.submenu__list-link(href="#") Кулинария
				li.submenu__list
					a.submenu__list-link(href="#") Контакты
			.footer__phone
				addres.footer-phone
					a(href="tel: 8 800 900-00-00") 8 800 900-00-00
				a.footer-call.fancybox(href="#") Перезвоните мне
		.footer-line.footer-line--bot
			.footer__copy
				.copy © 2017 ООО «RawStory»
				a(href="#") Политика конфидециальности
			.footer__soc
				.soc
					a.soc__link(href="#" style="background-image: url('img/ico-vk.png')")
					a.soc__link(href="#" style="background-image: url('img/ico-inst.png')")
					a.soc__link(href="#" style="background-image: url('img/ico-fb.png')")
			.footer__dev
				a.dev(href="http://xpage.ru" traget="_blank")
					span.dev__text Сделано в 
					img.dev__img(src="img/ico-dev.png", alt="")