
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Блог</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="description"/>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1"/>
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,700&amp;amp;subset=cyrillic" rel="stylesheet"/>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
		<link rel="stylesheet" href="css/common.css"/>
		<link rel="stylesheet" href="css/jquery.fancybox.css"/>
		<link rel="stylesheet" href="css/fonts.css"/>
		<link rel="stylesheet" href="css/slick.css"/>
		<link rel="stylesheet" href="css/style.css"/>
		<link rel="stylesheet" href="css/main.css"/>
		<link rel="stylesheet" href="css/forms.css"/>
		<link rel="stylesheet" href="css/main_data.css"/>
	</head>
	<body class="inner loading">
		<div id="page-wr">
			<div id="content">
				<header class="head">
					<div class="head__left">
						<div class="head-search">
							<div class="search">
								<form>
									<div class="search__wrap">
										<input type="text" placeholder="Поиск" class="search__input"/>
										<input type="submit" value="" class="search__submit"/>
									</div>
								</form>
							</div>
						</div>
						<div class="head-contacts"><a href="#" class="head-contacts__link">Контакты</a></div>
					</div>
					<div class="head__logo"><a href="#" class="logo"><img src="img/logo.png" alt="" class="logo__img"/></a></div>
					<div class="head__right">
						<div class="head-links"><a href="#" class="head-links__link head-links__link--favorite"></a><a data-count="3" href="#" class="head-links__link head-links__link--cart"></a><a href="#" class="head-links__link head-links__link--lc"></a></div>
					</div>
				</header>
				<div class="wrapper">
					<nav class="head__menu">
						<ul class="menu">
							<li class="menu__el sub"><a href="#" class="menu__link"> Уход за лицом</a>
								<div class="submenu">
									<div class="submenu__col">
										<div class="submenu__title">Очищение</div>
										<ul class="submenu__list">
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Пенка для умывания</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Скрабы и пилинги</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Снятие макияжа</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Мыло</a></li>
										</ul>
									</div>
									<div class="submenu__col">
										<div class="submenu__title">Очищение</div>
										<ul class="submenu__list">
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Тонер</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Мист-спрей</a></li>
										</ul>
									</div>
									<div class="submenu__col">
										<div class="submenu__title">Маски</div>
										<ul class="submenu__list">
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Смываемые</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Ночные</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Гидрогелевые</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Тканевые</a></li>
										</ul>
									</div>
									<div class="submenu__col">
										<div class="submenu__title">Основной уход</div>
										<ul class="submenu__list">
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Крем для лица</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Крем для глаз</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Сыворотка</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Эссенция</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Эмульсия</a></li>
										</ul>
									</div>
									<div class="submenu__col">
										<div class="submenu__title">Дополнительно</div>
										<ul class="submenu__list">
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Подарочные наборы</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Аксессуары</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Защита от солнца</a></li>
										</ul>
									</div>
								</div>
							</li>
							<li class="menu__el sub"><a href="#" class="menu__link">уход за телом</a>
								<div class="submenu">
									<div class="submenu__col">
										<div class="submenu__title">Очищение</div>
										<ul class="submenu__list">
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Пенка для умывания</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Скрабы и пилинги</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Снятие макияжа</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Мыло</a></li>
										</ul>
									</div>
									<div class="submenu__col">
										<div class="submenu__title">Очищение</div>
										<ul class="submenu__list">
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Тонер</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Мист-спрей</a></li>
										</ul>
									</div>
									<div class="submenu__col">
										<div class="submenu__title">Маски</div>
										<ul class="submenu__list">
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Смываемые</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Ночные</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Гидрогелевые</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Тканевые</a></li>
										</ul>
									</div>
									<div class="submenu__col">
										<div class="submenu__title">Основной уход</div>
										<ul class="submenu__list">
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Крем для лица</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Крем для глаз</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Сыворотка</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Эссенция</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Эмульсия</a></li>
										</ul>
									</div>
									<div class="submenu__col">
										<div class="submenu__title">Дополнительно</div>
										<ul class="submenu__list">
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Подарочные наборы</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Аксессуары</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Защита от солнца</a></li>
										</ul>
									</div>
								</div>
							</li>
							<li class="menu__el sub"><a href="#" class="menu__link">макияж</a>
								<div class="submenu">
									<div class="submenu__col">
										<div class="submenu__title">Очищение</div>
										<ul class="submenu__list">
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Пенка для умывания</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Скрабы и пилинги</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Снятие макияжа</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Мыло</a></li>
										</ul>
									</div>
									<div class="submenu__col">
										<div class="submenu__title">Очищение</div>
										<ul class="submenu__list">
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Тонер</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Мист-спрей</a></li>
										</ul>
									</div>
									<div class="submenu__col">
										<div class="submenu__title">Маски</div>
										<ul class="submenu__list">
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Смываемые</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Ночные</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Гидрогелевые</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Тканевые</a></li>
										</ul>
									</div>
									<div class="submenu__col">
										<div class="submenu__title">Основной уход</div>
										<ul class="submenu__list">
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Крем для лица</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Крем для глаз</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Сыворотка</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Эссенция</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Эмульсия</a></li>
										</ul>
									</div>
									<div class="submenu__col">
										<div class="submenu__title">Дополнительно</div>
										<ul class="submenu__list">
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Подарочные наборы</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Аксессуары</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Защита от солнца</a></li>
										</ul>
									</div>
								</div>
							</li>
							<li class="menu__el sub"><a href="#" class="menu__link">для волос</a>
								<div class="submenu">
									<div class="submenu__col">
										<div class="submenu__title">Очищение</div>
										<ul class="submenu__list">
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Пенка для умывания</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Скрабы и пилинги</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Снятие макияжа</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Мыло</a></li>
										</ul>
									</div>
									<div class="submenu__col">
										<div class="submenu__title">Очищение</div>
										<ul class="submenu__list">
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Тонер</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Мист-спрей</a></li>
										</ul>
									</div>
									<div class="submenu__col">
										<div class="submenu__title">Маски</div>
										<ul class="submenu__list">
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Смываемые</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Ночные</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Гидрогелевые</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Тканевые</a></li>
										</ul>
									</div>
									<div class="submenu__col">
										<div class="submenu__title">Основной уход</div>
										<ul class="submenu__list">
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Крем для лица</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Крем для глаз</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Сыворотка</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Эссенция</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Эмульсия</a></li>
										</ul>
									</div>
									<div class="submenu__col">
										<div class="submenu__title">Дополнительно</div>
										<ul class="submenu__list">
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Подарочные наборы</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Аксессуары</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Защита от солнца</a></li>
										</ul>
									</div>
								</div>
							</li>
							<li class="menu__el"><a href="#" class="menu__link">Бренды</a></li>
							<li class="menu__el sub"><a href="#" class="menu__link">о нас</a>
								<div class="submenu">
									<div class="submenu__col">
										<div class="submenu__title">Очищение</div>
										<ul class="submenu__list">
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Пенка для умывания</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Скрабы и пилинги</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Снятие макияжа</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Мыло</a></li>
										</ul>
									</div>
									<div class="submenu__col">
										<div class="submenu__title">Очищение</div>
										<ul class="submenu__list">
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Тонер</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Мист-спрей</a></li>
										</ul>
									</div>
									<div class="submenu__col">
										<div class="submenu__title">Маски</div>
										<ul class="submenu__list">
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Смываемые</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Ночные</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Гидрогелевые</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Тканевые</a></li>
										</ul>
									</div>
									<div class="submenu__col">
										<div class="submenu__title">Основной уход</div>
										<ul class="submenu__list">
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Крем для лица</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Крем для глаз</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Сыворотка</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Эссенция</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Эмульсия</a></li>
										</ul>
									</div>
									<div class="submenu__col">
										<div class="submenu__title">Дополнительно</div>
										<ul class="submenu__list">
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Подарочные наборы</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Аксессуары</a></li>
											<li class="submenu__list-el"><a href="#" class="submenu__list-link">Защита от солнца</a></li>
										</ul>
									</div>
								</div>
							</li>
						</ul>
					</nav>
				</div>
				<div class="content">
					<div style="background-image: url('img/breadcrumbs-base.png')" class="title-block__cont">
						<div class="wrapper">
							<div class="title-block">
								<h1 class="title-block__title">Уход за лицом</h1>
								<div class="title-block__crumbs">
									<div class="bread-crumbs">
										<a href="#" class="bread-crumbs__link">Главная</a>
										<a href="#" class="bread-crumbs__link">Каталог</a>
										<span class="bread-crumbs__this">Floria nutra energy 100 hours cream</span></div>
								</div>
							</div>
						</div>
					</div>
					<div class="inner-content">
						<div class="wrapper">
							<section class="base-page">

								<!-- <figure class="image image--right">
									<img src="img/base-img.png">
									<figcaption class="image--figcaption">
									<blockquote>В Челябинске открылись два новых фирменных магазина</blockquote></figcaption>
								</figure> -->

								<div class="base-page__news-list">
									<div class="news-list">
										<div class="news-list__one">
											<div class="news-list__one-date">09.03.2017</div>
											<div class="news-list__one-title">В Челябинске открылись два новых фирменных магазина</div>
											<a href="#" class="news-list__one-link">Подробнее</a>
										</div>
										<div class="news-list__one">
											<div class="news-list__one-date">09.03.2017</div>
											<div class="news-list__one-title">В Челябинске открылись два новых фирменных магазина</div>
											<a href="#" class="news-list__one-link">Подробнее</a>
										</div>
										<div class="news-list__one">
											<div class="news-list__one-date">09.03.2017</div>
											<div class="news-list__one-title">В Челябинске открылись два новых фирменных магазина</div>
											<a href="#" class="news-list__one-link">Подробнее</a>
										</div>
									</div>
									<div class="news-list__btn">
										<a href="#" class="default-btn">Перейти к новостям</a>
									</div>
								</div>

								<div class="text-page text-page--width">
									<h2>h2. В Челябинске открылись два<br> новых фирменных магазина</h2>

									<img src="img/photos/news-img.jpg" alt="">

									<dl>
										<dt>Лид</dt>
										<dd>— это первый абзац статьи, информативный отрывок 
										позволяющий захватить внимание читателя на данном 
										материале. Необязательный элемент.</dd>
									</dl>

									<p>Эта страница создана для демонстрации блоков и элементов, 
									которые используются на сайте, и служит руководством для 
									всех, кто работает над ним. Дизайнеры и технологи отрабатывают 
									здесь стили, чтобы добиться приемлемых результатов в 
									различных сочетаниях блоков и элементов. Контент-менеджеры 
									и редакторы используют страницу в качестве справочника 
									по верстке типовых страниц. Здесь же рассказывается о 
									некоторых общих правилах оформления контента.</p>

									<h3>H3. Дополнительная колонка может 
									быть снабжена заголовками</h3>

									<p>Многострочный заголовок, длина которого иногда бывает так 
									некстатиТиповые элементы оформляются в системе администрирования через визуальный редактор «Реформатор». Чтобы контент-менеджеру было легче в них ориентироваться, их количество лучше свести к необходимому минимуму.</p>

									<h4>H4. Дополнительная колонка может 
									быть снабжена заголовками</h4>

									<p>Имманентный подход подразумевает отношение к тексту как к автономной реальности, нацеленность на выявление его внутренней структуры. Репрезентативный — рассмотрение текста как особой формы представления знаний о внешней тексту действительности.</p>

									<h5>H5. В первую очередь нас интересуют интерлиньяж и отступы, но не стоит забывать и про сам заголовок</h5>

									<h5>Списки</h5>

									<p>Кроме того, существуют правила оформления списков:</p>
									<ul>
									<li>Если пункты списка длинные и представляют собой развернутые предложения,   
											 они должны начинаться с прописной буквы и заканчиваться точкой.
											 <ul>
												 <li>Если пункты списка длинные и представляют собой развернутые предложения, они должны   
												 начинаться с прописной буквы и заканчиваться точкой.</li>
												 <li>Если пункты списка короткие, не являются самостоятельной законченной конструкцией и 
												 грамматически тесно связаны с предшествующей списку вводной фразой, они должны 
												 начинаться </li>
											 
											 </ul>
											 
									 </li>           
									<li>Если пункты списка короткие, не являются самостоятельной законченной 
											 конструкцией и грамматически тесно связаны с предшествующей списку вводной 
											 фразой, они должны начинаться со строчной буквы и заканчиваться точкой с 
											 запятой (в конце последнего пункта — точка).
											 </li>
									</ul>
									<ol>
										<li>Если пункты списка длинные и представляют собой развернутые предложения, они 
											должны начинаться с прописной буквы и заканчиваться точкой.</li>
										<li>Если пункты списка короткие, не являются самостоятельной законченной 
											конструкцией и грамматически тесно связаны с предшествующей списку вводной 
											фразой, они должны начинаться со строчной буквы и заканчиваться точкой с  
											запятой (в конце последнего пункта — точка).</li>
									</ol>
									

								 <h5>Ссылки</h5>

									<p>На сайте может встречаться несколько видов ссылок. Например, ссылка на  <a href="index.html">Яндекс</a> является внешней. Внутренние ссылки могут открываться по умолчанию в текущем окне (например, переход на <a href="index.html">главную страницу</a>) или в <a href="index.html" target="_blanck">новом окне</a> (например, для показа изображений в оригинальном размере). </p>


									<table border="1">
									 <thead>
												<tr>
														<th>Аутсорсинг</th>
														<th>Консалтинг</th>
														<th>Проектирование</th>
														<th>Аудит</th>
												</tr>
										</thead>
										<tbody>
												<tr>
														<td>1</td>
														<td>5000 р.</td>
														<td>35 дней</td>
														<td>3,3%</td>
												</tr>
												<tr>
														<td>1</td>
														<td>5000 р.</td>
														<td>35 дней</td>
														<td>3,3%</td>
												</tr>
												<tr>
														<td>Потрясающий,<br> невероятно насыщенный</td>
														<td>5000 р.</td>
														<td>35 дней</td>
														<td>3,3%</td>
												</tr>
										</tbody>
								</table>
								
								</div>
								<div class="news-navbar">
									<a href="/news/novost-2/" class="news-navbar_prev">Предыдущая новость</a>
									<a href="/news/novost-1/" class="news-navbar_next">Следующая новость</a>
								</div>
								<div class="news-backurl">
							        <a href="/news/">перейти к списку новостей</a>
							    </div>
						</section>
						</div>
					</div>
				</div>
			</div>
			<footer class="footer">
				<div class="wrapper">
					<div class="footer-line footer-line--top">
						<nav class="footer__menu">
							<ul class="submenu__list">
								<li class="submenu__list-el"><a href="#" class="submenu__list-link"> Уход за лицом</a></li>
								<li class="submenu__list-el"><a href="#" class="submenu__list-link">уход за телом</a></li>
								<li class="submenu__list-el"><a href="#" class="submenu__list-link">макияж</a></li>
								<li class="submenu__list-el"><a href="#" class="submenu__list-link">для волос</a></li>
							</ul>
							<ul class="submenu__list">
								<li class="submenu__list-el"><a href="#" class="submenu__list-link">Наборы</a></li>
								<li class="submenu__list-el"><a href="#" class="submenu__list-link">Новинки</a></li>
								<li class="submenu__list-el"><a href="#" class="submenu__list-link">Бестселлеры</a></li>
								<li class="submenu__list-el"><a href="#" class="submenu__list-link">Бренды</a></li>
							</ul>
							<ul class="submenu__list">
								<li class="submenu__list-el"><a href="#" class="submenu__list-link">О нас</a></li>
								<li class="submenu__list-el"><a href="#" class="submenu__list-link">Контакты</a></li>
								<li class="submenu__list-el"><a href="#" class="submenu__list-link">Новости</a></li>
								<li class="submenu__list-el"><a href="#" class="submenu__list-link">Обзоры</a></li>
							</ul>
						</nav>
						<div class="footer__phone">
							<addres class="footer-phone"><a href="tel: 8 800 900-00-00">8 800 900-00-00</a></addres><a href="#" class="footer-call fancybox">Перезвоните мне</a>
						</div>
						<div class="footer__check">
							<div class="f-auth"><a href="#" class="f-auth__link">Подлинность</a></div>
						</div>
					</div>
					<div class="footer-line footer-line--bot">
						<div class="footer__copy">
							<div class="copy">© 2017 ООО «ALOE smart»</div><a href="#">Политика конфидециальности</a>
						</div>
						<div class="footer__soc">
							<div class="soc"><a href="#" sytle="background-image: url('img/photos/.png')" class="soc__link"></a><a href="#" sytle="background-image: url('img/photos/.png')" class="soc__link"></a><a href="#" sytle="background-image: url('img/photos/.png')" class="soc__link"></a></div>
						</div>
						<div class="footer__dev"><a href="http://xpage.ru" traget="_blank" class="dev"><span class="dev__text">Сделано в </span><img src="img/ico-dev.png" alt="" class="dev__img"/></a></div>
					</div>
				</div>
			</footer>
		</div>
		<script src="js/EasePack.min.js"></script>
		<script src="js/TweenMax.min.js"></script>
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.mousewheel.js"></script>
    <script src="js/jquery.jscrollpane.min.js"></script>
		<script src="js/jquery.ui-slider.js"></script>
		<script src="js/slick.js"></script>
		<script src="js/jquery.fancybox.js"></script>
		<script src="js/common.js"></script>
	</body>
</html>